{% extends "web/base.html" %}
{% load i18n static %}
{% load check_permissions lookup %}


{% block extra_head %}
    <link href="{% static 'web/vendors/leaflet.1.9.2.css' %}" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        #map {
            height: 600px;
        }
    </style>
{% endblock %}

{% block page_title %}
    <h3 class="mt-4 content font-alt">
        <a href="{% url 'web:city-list' %}">
            ← {% translate "Back to cities" %}
        </a>
    </h3>
    {{ block.super }}
    <div class="tag-container group-tags u-center">
        {% for name in city_names %}
            <span class="mr-1">
                <span class="tag tag--halflarge tag--white bg-orange-300 u u-RL mr-1">
                    {{ name.name }}
                </span><span class="tag tag--halflarge tag--black bg-orange-800 u u-LR">
                    {{ name.language__code }}
                </span>
            </span>
        {% endfor %}
    </div>
    <div class="tag-container group-tags u-center">
        {% with alternative_urns=city.alternative_urns.all %}
            {% if alternative_urns %}
                {% for alternative_urn in alternative_urns %}
                    <div class="ml-2">
                        <div class="tag tag--normal">{% translate "URN" %}</div><div class="tag tag--link"><a href="{{ alternative_urn.urn }}">{{ alternative_urn.urn }}</a></div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock page_title %}

{% block content %}
<div class="content">
    <div id="map"></div>
    <h2>{% translate "Passages" %}</h2>
    <ul class="twocols">
        {% for passage in passages %}
        <li>
            <a href="{% url 'web:passage-detail' passage.book.number passage.fragment passage.sub_fragment %}">{{ passage }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>{% translate "Scholia" %}</h2>
    <ul class="twocols">
        {% for scholium in scholia %}
        <li>
            <a href="{% url 'web:scholium-detail' scholium.passage.book.number scholium.passage.fragment scholium.passage.sub_fragment scholium.number %}">{{ scholium }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>{% translate "Birth place of" %}</h2>
    <ul class="twocols">
        {% for author_born_at in authors_born_at %}
        <li>
            <a href="{% url 'web:author-detail' author_born_at.pk %}">{{ author_born_at.names.first.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>{% translate "Death place of" %}</h2>
    <ul class="twocols">
        {% for author_died_at in authors_died_at %}
        <li>
            <a href="{% url 'web:author-detail' author_died_at.pk %}">{{ author_died_at.names.first.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'web/vendors/leaflet.1.9.2.js' %}"></script>
    <script type="text/javascript">
        L.Icon.Default.imagePath = "{% static "web/vendors/images/" %}"
        const map = L.map(document.querySelector('div#map')).setView(
            [{{ city.latitude|ensure_point }}, {{ city.longitude|ensure_point }}],
            6
        )
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)

    L.marker([{{ city.latitude|ensure_point }}, {{ city.longitude|ensure_point }}])
        .addTo(map)
    </script>
{% endblock %}
