{% extends "web/base.html" %}
{% load static i18n %}
{% load formica %}

{% block content %}
    <h1 class="mt-6 u-center headline-4 font-alt">
        {% translate "Register" %}
    </h1>

    <div class="content">
        <form action="{% url 'register' %}" method="post">
            {% form "web/formica/base_form.html" form %}
                {% fields %}
            {% endform %}
            <button class="btn-info u-inline-block mt-2" type="submit">
                {% translate "Register" %}
            </button>
        </form>
    </div>

{% endblock %}
