@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
         url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "montserrat-medium";
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('../fonts/nunitosans-regular.woff2') format('woff2'),
         url('../fonts/nunitosans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url('../fonts/nunitosans-light.woff2') format('woff2'),
         url('../fonts/nunitosans-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url('../fonts/nunitosans-italic.woff2') format('woff2'),
         url('../fonts/nunitosans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url('../fonts/nunitosans-bold.woff2') format('woff2'),
         url('../fonts/nunitosans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
