{% extends "web/base.html" %}
{% load static i18n %}
{% load formica alignments %}

{% block page_title %}
    <p class="mt-4 content font-alt">
        <a href="{% url 'web:passage-detail' passage.book.number passage.fragment passage.sub_fragment %}#alignments">
            ← {% translate "Back to" %} {{ passage }}
        </a>
    </p>
    {{ block.super }}
{% endblock page_title %}

{% block content %}
    <h1 class="mt-6 u-center headline-4 font-alt">
        {% translate "Create an alignment" %}
    </h1>

    <div>
        <form
            action="{{ create_url }}"
            method="post"
            data-controller="alignments alignments-creation"
            data-alignments-target="alignment"
            data-action="load@window->alignments-creation#display"
            >
            <div class="content u-center">
                {% translate "Select the two texts you want to align, then click on words on both sides to align." %}
            </div>
            <div class="row mx-2">
                {% form "web/formica/alignment_form.html" form %}
                    {% fields %}
                {% endform %}
                {% for passage_text in passage_texts %}
                    <template
                        id="passage-text-{{ passage_text.pk }}" data-alignments-creation-target="passageText"
                        hidden
                        >
                        {% render_alignment passage_text.text passage_text.alignment_tokens 0 %}
                    </template>
                {% endfor %}
            </div>
            <div class="content">
                <div class="form-section u-flex u-justify-space-between">
                    <a href="{% url 'web:passage-detail' passage.book.number passage.fragment passage.sub_fragment %}#alignments" class="btn u-inline-block">
                        {% translate "Cancel" %}
                    </a>
                    <button class="btn-info u-inline-block" type="submit">
                        {% translate "Submit & save" %}
                    </button>
                </div>
            </div>
            <div
                class="card card-alignment"
                data-alignments-creation-target="card"
                hidden
                >
                <div class="card__header">
                    <p class="font-bold px-3">{% translate "Do you want to align the selected terms?" %}</p>
                </div>
                <div class="content">
                    <p>
                        {% translate "You are about to align:" %}
                        <span data-alignments-creation-target="leftTerms"></span>
                        {% translate "with" %}
                        <span data-alignments-creation-target="rightTerms"></span>
                    </p>
                </div>
                <div class="card__action-bar u-center">
                    <button
                        class="btn-transparent outline mr-6"
                        data-action="
                            alignments-creation#cancel
                            keydown@window->alignments-creation#cancelByKey
                        "
                        >{% translate "Cancel" %} (n)</button>
                    <button
                        class="btn-dark outline ml-6"
                        data-action="
                            alignments-creation#align
                            keydown@window->alignments-creation#alignByKey
                        "
                        >{% translate "Align" %} (y)</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block extra_body %}
    <script src="{% static 'web/js/alignments_controller.js' %}"></script>
    <script src="{% static 'web/js/alignments_creation_controller.js' %}"></script>
    <script type="text/javascript">
        ;(() => {
            application.register('alignments', Alignments)
            application.register('alignments-creation', AlignmentsCreation)
        })()
    </script>
{% endblock %}
