{% load i18n %}
{% load formica %}

{% block form %}
    {% if with_csrf %}{% csrf_token %}{% endif %}
    {% useblock "form_errors" %}
    {% if next_url %}
    <input type="hidden" value="{{ next_url }}" name="next_url">
    {% endif %}
    {{ contents }}
{% endblock form %}

{% block form_errors %}
    {% if form.errors %}
        <div class="toast toast--primary my-4">
            <strong>
                {% if form_error_title %}
                    {{ form_error_title }}
                {% else %}
                    {% if form.errors|length == 1 %}
                        {% trans "Please correct the error below." %}
                    {% else %}
                        {% trans "Please correct the errors below." %}
                    {% endif %}
                {% endif %}
            </strong>
            {% if form.non_field_errors %}
                <ol>
                    {{ form.non_field_errors|unordered_list }}
                </ol>
            {% endif %}
        </div>
    {% endif %}
{% endblock form_errors %}

{% block field %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% useblock "form_field" %}
    {% endif %}
{% endblock field %}

{% block form_field %}
    <div class="form-field{% if wrapper_class %} {{ wrapper_class }}{% endif %}{{ field.errors|yesno:" with-errors,"}}">
        {% if not field|is_checkbox %}
            {% useblock "field_label" %}
        {% endif %}
        {% if field.errors %}
            <div class="toast toast--primary">
                {{ field.errors }}
            </div>
        {% endif %}
        <div class="input-control {% if field.errors %}input-error{% endif %} ">
            {{ field }}
            {% if field|is_checkbox %}
                {% useblock "field_label" %}
            {% endif %}
            {% if field.help_text %}
                <span class="info">{{ field.help_text }}</span>
            {% endif %}
        </div>
    </div>
{% endblock form_field %}


{% block regrouped %}
    <div class="form-field regrouped{% if wrapper_class %} {{ wrapper_class }}{% endif %}{{ fields|any_field_error|yesno:" with-errors," }}">
        {% if label %}
            <label{% if fields|any_field_required %} class="required"{% endif %}>
                {{ label }}
            </label>
        {% endif %}
        <div class="field-content">
            {% fields fields field_block="inline_field" %}
        </div>
    </div>
{% endblock regrouped %}

{% block inline_field %}
    <div>
        {{ field.errors }}
        {% useblock "field_label" %}
        {{ field }}
        {% if field.help_text %}
            <span class="info">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% endblock inline_field %}

{% block fields %}
    {% for field in fields %}
        {% field field field_block|default:"field" %}
    {% endfor %}
{% endblock fields %}

{% block field_label %}
    <label for="{{ field.id_for_label }}" {% if field.errors %}class="text-danger"{% endif %}>
        {{ field.label }}
        {% if field.field.required %}
            (required)
        {% endif %}
    </label>
{% endblock field_label %}
