{% load i18n %}
{% if is_paginated %}
    <div class="pagination pagination-bordered u-center mt-6" aria-label="Pagination">
        <div class="pagination-item short {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="{% if not page_obj.has_previous %} disabled {% endif %}" href="?page=1" title="{% translate 'First page' %}">
                {% translate "« First" %}
            </a>
        </div>
        <div class="pagination-item short {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="{% if not page_obj.has_previous %} disabled {% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" title="{% translate 'Previous page' %}">
                {% translate "‹ Prev" %}
            </a>
        </div>
        <div class="pagination-item short ">
            <a class="" aria-current="page" href="#">
                {{ page_obj.number }}&nbsp;/&nbsp;{{ paginator.num_pages }}
            </a>
        </div>
        <div class="pagination-item short {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="{% if not page_obj.has_next %} disabled {% endif %}" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" title="{% translate 'Next page' %}">
                {% translate "Next ›" %}
            </a>
        </div>
        <div class="pagination-item short {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="{% if not page_obj.has_next %} disabled {% endif %}" href="?page={{ paginator.num_pages }}" title="{% translate 'Last page' %}">
                {% translate "Last »" %}
            </a>
        </div>
    </div>
{% endif %}
