{% load i18n %}
{% load revisions_tags %}

<p>
    {% with obj=version.object %}
        <time data-datetimes-target="datetime" datetime="{{ version.revision.date_created|date:'c'}}">
            [{{ version.revision.date_created|date:'Y-m-d H:i e'}}]
        </time>
        {% if obj.get_absolute_url %}
            <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% translate ":" %}
        {% else %}
            {{ obj }}{% translate ":" %}
        {% endif %}
        {{ version.revision.comment|convert_revision_comment:obj }}
        {% if version.revision.user and not without_user %}
            {% translate "by" %} “<a href="{{ version.revision.user.get_absolute_url }}">{{ version.revision.user }}</a>”
        {% endif %}
    {% endwith %}
</p>
