{% extends "web/base.html" %}
{% load static i18n %}

{% block extra_head %}
    <link href="{% static 'web/vendors/accessible-autocomplete.min.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block page_title %}
    <h3 class="mt-4 content font-alt">
        <a href="{% url 'web:passage-detail' book.number passage.fragment passage.sub_fragment %}">
            ← {% translate "Back to" %} {{ passage }}
        </a>
    </h3>
    {{ block.super }}
{% endblock page_title %}

{% block content %}
    <main>
        {% include "web/passage/_metadata.html" with obj=scholium only %}
        {% include "web/passage/_descriptions.html" with descriptions=scholium.descriptions.all object_pk=scholium.pk object_kind="scholium" user=user only %}
        {% include "web/passage/_manuscripts.html" with manuscripts=scholium.manuscripts.all object_pk=scholium.pk object_kind="scholium" user=user only %}
        {% include "web/passage/_texts.html" with texts=scholium.texts.all object_pk=scholium.pk object_kind="scholium" user=user only %}
        {% include "web/passage/_cities.html" with cities=cities object_pk=scholium.pk object_kind="scholium" preferred_languages=preferred_languages user=user only %}
        {% include "web/passage/_keywords.html" with keywords_categories=keywords_categories object_pk=scholium.pk object_kind="scholium" user=user only %}
        {% include "web/passage/_comments.html" with comments=scholium.comments.all object_pk=scholium.pk object_kind="scholium" user=user only %}
        {% include "web/passage/_modifications.html" with url_to_all_modifications=url_to_all_modifications versions=versions only %}
    </main>
{% endblock %}

{% block extra_body %}
    <script src="{% static 'web/vendors/accessible-autocomplete.min.js' %}"></script>
    <script src="{% static 'web/js/tabs_controller.js' %}"></script>
    <script src="{% static 'web/js/alignments_controller.js' %}"></script>
    <script src="{% static 'web/js/textareas_controller.js' %}"></script>
    <script type="text/javascript">
        ;(() => {
            application.register('tabs', Tabs)
            application.register('alignments', Alignments)
            application.register('textareas', Textareas)
        })()
    </script>
{% endblock %}
