{% extends "web/base.html" %}

{% load static i18n %}

{% block page_title %}
    <h3 class="mt-4 content font-alt">
        {% if passage %}
            <a href="{{ passage.get_absolute_url }}">
                ← {% translate "Back to" %} {{ passage }}
            </a>
        {% endif %}
        {% if scholium %}
            <a href="{{ scholium.get_absolute_url }}">
                ← {% translate "Back to" %} {{ scholium }}
            </a>
        {% endif %}
    </h3>
    {{ block.super }}
{% endblock page_title %}

{% block content %}
    {% if versions %}
    <div id="modifications" class="content mt-4" data-controller="datetimes">
        {% for version in versions %}
            {% include 'web/_version_line.html' with without_user=modifications_without_user %}
        {% endfor %}
        {% include 'web/_pagination.html' %}
    </div>
    {% endif %}
{% endblock %}
