{% extends "web/base.html" %}
{% load static i18n %}
{% load formica %}

{% block page_title %}
    <h3 class="mt-4 content font-alt">
        <a href="{% url 'web:keyword-list' %}">
            ← {% translate "Back to keywords" %}
        </a>
    </h3>
    {{ block.super }}
{% endblock page_title %}

{% block content %}
    <h1 class="mt-6 u-center headline-4 font-alt">
        {% translate "Create a new keyword" %}
    </h1>

    <div class="content">
        <form
            action="{{ create_url }}"
            method="post">
            <!--
            <div class="modal-header">
                <div class="modal-title">
                    {% translate "Create a new keyword" %}
                </div>
            </div>
            -->
            <div class="modal-body">
                {% block form_body %}
                {% form "web/formica/base_form.html" form %}
                {% fields %}
                {% endform %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                <div class="form-section u-flex u-justify-space-between">
                    <a href="#back" class="btn u-inline-block">
                        {% translate "Cancel" %}
                    </a>
                    <button class="btn-info u-inline-block" type="submit">
                        {% translate "Submit & save" %}
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
