{% extends "web/base.html" %}

{% load i18n static %}
{% load check_permissions %}

{% block content %}
<div class="content">
    {# KEYWORDS WITH CATEGORIES #}
    {% for category_names, kw_list in categories_with_keywords.items %}
    {% if kw_list|length %}
    <details class="mt-4">
        <summary>{{ category_names }}</summary>
        <ul class="twocols">
            {% for pk, names in kw_list %}
            <li>
                <a href="{% url 'web:keyword-detail' pk %}">{{ names }}</a>
            </li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
    {% endfor %}
    {% if user|can_add_mlgr %}
        <a
            class="text-light u-center"
            href="{% url 'web:keyword-create-wikidata' %}"
            >
            <span class="tag tag--halflarge tag--hover tag--info bg-gray-700">
                <svg class="svgicon svgicon-plus">
                    <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-plus"></use>
                </svg> 
                {% translate 'Add from Wikidata' %}
            </span>
        </a>
        <!-- We only focus on keywords created through Wikidata for the moment.
        <a
            class="text-light u-center"
            href="{% url 'web:keyword-create-names' %}"
            >
            <span class="tag tag--halflarge tag--hover tag--info bg-gray-700">
                <svg class="svgicon svgicon-plus">
                    <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-plus"></use>
                </svg> 
                {% translate 'Add' %}
            </span>
        </a>
        -->
    {% endif %}
</div>
{% endblock %}
