{% load static i18n %}
{% load check_permissions alignments %}

{% if texts %}
    <div id="alignments" data-controller="tabs">
        <div class="pt-2 mb-0 content">
            <h2 class="tag-container-expand mt-4 u-flex u-items-flex-end u-justify-space-between pb-1">
                {% if texts|length >= 2 %}
                    {% translate "Alignments" %}
                {% else %}
                    {% translate "Alignment" %}
                {% endif %}
                {% if user|can_add_mlgr and texts|length >= 2 %}
                    <a
                        class="text-light"
                        href="{% url 'web:passage-alignment-create' object_pk %}"
                        >
                        <span class="tag tag--halflarge tag--update tag--info bg-gray-700"> 
                            <svg class="svgicon svgicon-plus">
                                <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-plus"></use>
                            </svg> 
                        </span><span class="tag tag--halflarge tag--hover tag--info bg-gray-700">
                            {% translate 'Add' %}
                        </span>
                    </a>
                {% endif %}
            </h2>
        </div>

        <div class="tab-container tabs-fill">
            <ul role="tablist"
                data-action="keydown->tabs#keyboardA11Y"
                aria-label="{% translate 'Alignments tabs' %}">
                {% for text in texts %}
                    {% for alignment in text.meleager_alignment_text_1.all %}
                        <li {% if forloop.first and forloop.parentloop.first %}class="selected"{% endif %}>
                            <a role="tab"
                                id="alignment-tab-{{ forloop.counter }}-{{ alignment.language_code_2 }}"
                                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                                aria-controls="alignment-content-{{ forloop.counter }}-{{ alignment.language_code_2 }}"
                                data-tabs-target="link"
                                data-action="tabs#switch"
                                href="#alignment-content-{{ forloop.counter }}-{{ alignment.language_code_2 }}"
                                tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
                                >{{ alignment.language_code_2.upper }}</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

        {% for text in texts %}
            {% for alignment in text.meleager_alignment_text_1.all %}
                <div role="tabpanel"
                    id="alignment-content-{{ forloop.counter }}-{{ alignment.language_code_2 }}"
                    aria-labelledby="alignment-tab-{{ forloop.counter }}-{{ alignment.language_code_2 }}"
                    data-controller="alignments"
                    data-alignments-target="alignment"
                    data-tabs-target="content"
                    tabindex="0"
                    {% if not forloop.first or not forloop.parentloop.first %}hidden{% endif %}
                    class="row">
                    <div id="align-original-{{ forloop.counter }}" class="col-6">
                        <blockquote class="bg-orange-100 border-orange-300">
                            {% render_alignment text alignment.alignment_data 0 %}
                        </blockquote>
                    </div>
                    <div id="align-translation-{{ forloop.counter }}" class="col-6">
                        <blockquote class="bg-orange-100 border-orange-300 u-clearfix">
                            {% render_alignment text alignment.alignment_data 1 %}
                            {% if user|can_change:alignment and user|can_delete:alignment %}
                            <div class="col-12 mb-1">
                                <a
                                    class="u-pull-right"
                                    href="#alignment-delete-{{ alignment.pk }}"
                                    data-action="modals#open"
                                    >
                                    <span class="tag tag--halflarge tag--delete tag--danger"> 
                                        <svg class="svgicon svgicon-cancel-circle">
                                            <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cancel-circle"></use>
                                        </svg> 
                                        {% translate 'Remove' %}
                                    </span>
                                </a>
                                {% if not alignment.is_orphan and not alignment.is_outdated %}
                                <a
                                    class="u-pull-right mr-1"
                                    href="{% url 'web:passage-alignment-update' object_pk alignment.pk %}"
                                    >
                                    <span class="tag tag--halflarge tag--update tag--info"> 
                                        <svg class="svgicon svgicon-pencil">
                                            <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-pencil"></use>
                                        </svg> 
                                        {% translate 'Edit' %}
                                    </span>
                                </a>
                                {% endif %}
                                <div
                                    id="alignment-delete-{{ alignment.pk }}"
                                    class="modal modal-large modal-animated--zoom-in"
                                    data-controller="turbo"
                                    data-turbo-url-value="{% url 'web:'|add:object_kind|add:'-alignment-delete' object_pk alignment.pk %}"
                                    >
                                    <a href="#back" data-modals-target="closebtn" class="modal-overlay close-btn u-text-right" aria-label="{% translate 'Close' %}">
                                        <span class="icon mt-2 mr-3">
                                            <svg class="svgicon svgicon-cross">
                                                <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cross"></use>
                                            </svg>
                                        </span>
                                    </a>

                                    <div class="modal-content" role="document" data-turbo-target="wrapper"></div>
                                </div>
                            </div>
                            {% endif %}
                        </blockquote>
                    </div>
                    {% if alignment.is_orphan or alignment.is_outdated %}
                    <div class="content">
                        <p class="toast toast--warning">
                            {% if alignment.is_orphan %}
                                {% translate 'Warning: a text of that alignment does not exist anymore.' %}
                                <br>
                                {% translate 'Feel free to contribute by replacing this alignment with a new one.' %}
                            {% endif %}
                            {% if alignment.is_outdated %}
                                {% translate 'Warning: a text of that alignment has been modified since then.' %}
                                <br>
                                {% translate 'Feel free to contribute by replacing this alignment with a new one.' %}
                            {% endif %}
                        </p>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
