{% load i18n static %}
{% load check_permissions %}

<div id="keywords" class="py-2 content">
    <h2 class="tag-container-expand mt-4 mb-2 u-flex u-items-flex-end u-justify-space-between pb-1">
        {% blocktranslate count counter=keywords|length trimmed %}
            Keyword
        {% plural %}
            Keywords
        {% endblocktranslate %}
        {% if user|has_attach_permission %}
            <a
                class="text-light"
                href="#{{ object_kind }}-keyword-create"
                data-action="modals#open"
                >
                <span class="tag tag--halflarge tag--update tag--info bg-gray-700"> 
                    <svg class="svgicon svgicon-plus">
                        <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-plus"></use>
                    </svg> 
                </span><span class="tag tag--halflarge tag--hover tag--info bg-gray-700">
                    {% translate 'Add' %}
                </span>
            </a>
        {% endif %}
    </h2>
    {% if user|has_attach_permission %}
        <div
            id="{{ object_kind }}-keyword-create"
            class="modal modal-large modal-animated--zoom-in"
            data-controller="turbo"
            data-turbo-url-value="{% url 'web:'|add:object_kind|add:'-keyword-create' object_pk %}"
            data-turbo-autocomplete-value="id_keyword"
            >
            <a href="#back" data-modals-target="closebtn" class="modal-overlay close-btn u-text-right" aria-label="{% translate 'Close' %}">
                <span class="icon mt-2 mr-3">
                    <svg class="svgicon svgicon-cross">
                        <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cross"></use>
                    </svg>
                </span>
            </a>

            <div class="modal-content" role="document" data-turbo-target="wrapper"></div>
        </div>
    {% endif %}

    {% for category, keywords in keywords_categories.items %}
        <h5 class="font-light">{{ category.current_language_name }}</h5>
        <div class="tag-container group-tags">
            {% for keyword in keywords %}
                <p class="i18n-item tag-container-expand px-1 pt-1">
                    {% for name in keyword.object.names.all %}
                        <a href="{% url 'web:keyword-detail' keyword.object.pk %}" class="mr-1">
                            <span class="tag tag--halflarge tag--white bg-orange-300 u u-RL">
                                {{ name.name }}
                            </span><span class="tag tag--halflarge tag--black bg-orange-800 u u-LR">
                                {{ name.language.code }}
                            </span>
                        </a>
                    {% endfor %}
                    {% if keyword.can_be_unlinked %}
                        <a
                            class="u-pull-right"
                            href="#keyword-delete-{{ keyword.object.pk }}"
                            data-action="modals#open"
                            >
                            <span class="tag tag--halflarge tag--delete tag--danger"> 
                                <svg class="svgicon svgicon-cancel-circle">
                                    <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cancel-circle"></use>
                                </svg> 
                            </span><span class="tag tag--halflarge tag--hover tag--danger">
                                {% translate 'Remove' %}
                            </span>
                        </a>
                    {% endif %}
                </p>
            {% endfor %}
            {% for keyword in keywords %}
                {% if keyword.can_be_unlinked %}
                    <div
                        id="keyword-delete-{{ keyword.object.pk }}"
                        class="modal modal-large modal-animated--zoom-in"
                        data-controller="turbo"
                        data-turbo-url-value="{% url 'web:'|add:object_kind|add:'-keyword-delete' object_pk keyword.object.pk %}"
                        >
                        <a href="#back" data-modals-target="closebtn" class="modal-overlay close-btn u-text-right" aria-label="{% translate 'Close' %}">
                            <span class="icon mt-2 mr-3">
                                <svg class="svgicon svgicon-cross">
                                    <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cross"></use>
                                </svg>
                            </span>
                        </a>

                        <div class="modal-content" role="document" data-turbo-target="wrapper"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
