{% load i18n static %}
{% load check_permissions %}

<div id="manuscripts" class="hero bg-gray-100">
    <div class="hero-body">
        <div class="content u-flex-column tag-container-expand">
            {% for manuscript in manuscripts %}
                {% if user|can_delete:manuscript %}
                    <a
                        href="#manuscript-delete-{{ manuscript.pk }}"
                        data-action="modals#open"
                        class="mb--1 mr--1 u-pull-right u-relative"
                        >
                        <span class="tag tag--halflarge tag--delete tag--danger"> 
                            <svg class="svgicon svgicon-cancel-circle">
                                <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cancel-circle"></use>
                            </svg> 
                        </span><span class="tag tag--halflarge tag--hover tag--danger">
                            {% translate 'Remove' %}
                        </span>
                    </a>
                    <div
                        id="manuscript-delete-{{ manuscript.pk }}"
                        class="modal modal-large modal-animated--zoom-in"
                        data-controller="turbo"
                        data-turbo-url-value="{% url 'web:'|add:object_kind|add:'-manuscript-delete' object_pk manuscript.pk %}"
                        >
                        <a href="#back" data-modals-target="closebtn" class="modal-overlay close-btn u-text-right" aria-label="{% translate 'Close' %}">
                            <span class="icon mt-2 mr-3">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 fa-wrapper" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="#fff" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                            </span>
                        </a>
                        <div role="document" class="modal-content" data-turbo-target="wrapper"></div>
                    </div>
                {% endif %}
                <figure class="fig my-2 u-text-center">
                    <img class="img-contain u-shadow u-round" src="{{ manuscript.url }}">
                    {% if manuscript.title %}
                        <figcaption class="fig-caption u-text-center">
                            {{ manuscript.title }}
                        </figcaption>
                    {% endif %}
                </figure>
            {% endfor %}
            {% if user|can_add_mlgr %}
                <p class="u-text-center">
                    <a
                        class="text-light"
                        href="#manuscript-create"
                        data-action="modals#open"
                        >
                        <span class="tag tag--halflarge tag--info bg-gray-700"> 
                            <svg class="svgicon svgicon-plus">
                                <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-plus"></use>
                            </svg> 
                            {% translate 'Add manuscript' %}
                        </span>
                    </a>
                </p>
                <div
                    id="manuscript-create"
                    class="modal modal-large modal-animated--zoom-in"
                    data-controller="turbo"
                    data-turbo-url-value="{% url 'web:'|add:object_kind|add:'-manuscript-create' object_pk %}"
                    >
                    <a href="#back" data-modals-target="closebtn" class="modal-overlay close-btn u-text-right" aria-label="{% translate 'Close' %}">
                        <span class="icon mt-2 mr-3">
                            <svg class="svgicon svgicon-cross">
                                <use xlink:href="{% static 'web/img/symbol-defs.svg' %}#icon-cross"></use>
                            </svg>
                        </span>
                    </a>

                    <div class="modal-content" role="document" data-turbo-target="wrapper"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
