{% load i18n %}

<div class="tag-container group-tags u-center">
    {% if obj.urn_value %}
        <div>
            <div class="tag tag--normal">{% translate "URN" %}</div><div class="tag tag--link">{{ obj.urn_value }}</div>
        </div>
    {% endif %}

    <div class="ml-2">
        <div class="tag tag--normal">{% translate "Created on" %}</div><div class="tag tag--link">{{ obj.created_at|date:"F j, Y" }}</div>
    </div>

    <div class="ml-2">
        <div class="tag tag--normal">{% translate "By" %}</div><div class="tag tag--link">{{ obj.creator }}</div>
    </div>

    <div class="ml-2">
        <div class="tag tag--normal">{% translate "Updated on" %}</div><div class="tag tag--link">{{ obj.updated_at|date:"F j, Y" }}</div>
    </div>
</div>
