{% load i18n %}

{% if versions %}
<div id="modifications" class="content" data-controller="datetimes">
    <h2>{% translate "Last modifications" %}</h2>
    {% for version in versions %}
        {% include 'web/_version_line.html' with without_user=modifications_without_user %}
    {% endfor %}
    <a href="{{ url_to_all_modifications }}">{% translate "See all modifications" %} →</a>
</div>
{% endif %}
