<form method="POST" action="{{ form_url }}">
    {% csrf_token %}
    {{ form }}
</form>

<ul>
    {% for obj_pk, name, lang in objects_flat %}
    <li>{{ obj_pk }} - {{ name }} - {{ lang }}</li>
    {% endfor %}
</ul>

<ul>
    {% for obj_pk, values in objects_nested.items %}
    <li>
        Object: {{ obj_pk }}
        <ul>
            {% for key, val in values.items %}
                <li>
                    {{ key }} - {{ val }}
                </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </li>
</ul>
