{% extends "web/base.html" %}
{% load static i18n %}

{% block extra_head %}
    <link href="{% static 'web/vendors/accessible-autocomplete.min.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <main>
        {% include "web/passage/_metadata.html" with obj=passage only %}
        {% include "web/passage/_descriptions.html" with descriptions=passage.descriptions.all object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_manuscripts.html" with manuscripts=passage.manuscripts.all object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_texts.html" with texts=texts object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_authors.html" with authors=authors object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_cities.html" with cities=cities object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_keywords.html" with keywords_categories=keywords_categories object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_scholia.html" with scholia=passage.scholia.all object_pk=passage.pk passage=passage user=user only %}
        {% include "web/passage/_comments.html" with comments=passage.comments.all object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_alignments.html" with texts=texts object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_internal_references.html" with internal_references=internal_references object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_external_references.html" with external_references=passage.external_references.all object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_media.html" with media=passage.images.all object_pk=passage.pk object_kind="passage" user=user only %}
        {% include "web/passage/_modifications.html" with url_to_all_modifications=url_to_all_modifications versions=versions only %}
    </main>
{% endblock %}

{% block footer %}
    <div class="content">
        <div class="btn-group btn-group-fill">
            <a class="btn bg-orange-200 text-orange-700" href="{{ passage.get_previous_url }}">
                {% translate "← Previous passage" %}
            </a>
            <a class="btn bg-orange-200 text-orange-700" href="{{ passage.get_next_url }}">
                {% translate "Next passage →" %}
            </a>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block extra_body %}
    <script src="{% static 'web/vendors/accessible-autocomplete.min.js' %}"></script>
    <script src="{% static 'web/js/tabs_controller.js' %}"></script>
    <script src="{% static 'web/js/alignments_controller.js' %}"></script>
    <script src="{% static 'web/js/textareas_controller.js' %}"></script>
    <script type="text/javascript">
        ;(() => {
            application.register('tabs', Tabs)
            application.register('alignments', Alignments)
            application.register('textareas', Textareas)
        })()
    </script>
{% endblock %}
