{% extends "web/base.html" %}
{% load static i18n %}
{% load formica %}

{% block content %}
    <h1 class="mt-6 u-center headline-4 font-alt">
        {{ passage }}
    </h1>

    <div class="content">
        <form
            action="{{ create_url }}"
            method="post">
            <div class="modal-header">
                <div class="modal-title">
                    {% translate "Add a new text" %}
                </div>
            </div>
            <div class="modal-body">
                {% form "web/formica/base_form.html" form %}
                    {% fields %}
                {% endform %}
            </div>
            <div class="modal-footer">
                <div class="form-section u-flex u-justify-space-between">
                    <a href="#back" class="btn u-inline-block">
                        {% translate "Cancel" %}
                    </a>
                    <button class="btn-info u-inline-block" type="submit">
                        {% translate "Submit & save" %}
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
