{% extends "web/base.html" %}
{% load static i18n %}
{% load formica %}

{% block content %}
    <h1 class="mt-6 u-center headline-4 font-alt">
        {{ passage }}{{ scholium }}
    </h1>

    <div class="content">
        <form
            action="{{ update_url }}"
            data-controller="textareas"
            data-action="input->textareas#expand"
            method="post">
            <div class="modal-header">
                <div class="modal-title">
                    {% translate "Update text" %}
                </div>
            </div>
            <div class="modal-body">
                {% if warnings %}
                    {% for warning in warnings %}
                        <p class="toast toast--warning mb-1">{{ warning }}</p>
                    {% endfor %}
                {% endif %}
                {% form "web/formica/base_form.html" form %}
                    {% fields %}
                {% endform %}
            </div>
            <div class="modal-footer">
                <div class="form-section u-flex u-justify-space-between">
                    <a href="#back" class="btn u-inline-block">
                        {% translate "Cancel" %}
                    </a>
                    <button class="btn-info u-inline-block" type="submit">
                        {% translate "Submit & save" %}
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block extra_body %}
    <script src="{% static 'web/js/textareas_controller.js' %}"></script>
    <script type="text/javascript">
        ;(() => {
            application.register('textareas', Textareas)
        })()
    </script>
{% endblock %}
